{% extends './base.html' %} {% block title %}Dashboard{% endblock %}
{% block body %}
{% load static%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Add Product</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add product</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <hr />
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body col-md-5 mx-auto">
          <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="col-md-8 mx-auto">
              <div class="text-center">
              <img class="img-fluid" height="150" width="150" id="pp" src="{% static 'product.png' %}" >
            </div>
              <label for="imgproduct">Product Image</label>
              <input type="file" name="imgproduct" id="imgproduct" class="form-control" required
               accept=".JPG,.jpg,.JPEG,.jpeg,.PNG,.png,.GIF,.gif" />
            </div>
            <div class="col mt-2">
            <label for="txtname">Product Name</label>
            <input type="text" name="txtname" id="txtname" class="form-control" placeholder="Enter Product Name" maxlength="50" required />
          </div>
          <div class="col mt-2">
            <label for="txtdesc">Description</label>
            <textarea name="txtdesc" id="txtdesc" placeholder="Enter product description" maxlength="500" class="form-control" required></textarea>
          </div>
          <div class="col mt-2 row">
            <label class="col-md-3 mt-2" for="txtprice">Price ₹ (INR): </label>
            <input type="number" name="txtprice" id="txtprice" class="form-control col" min="1"  placeholder="Enter price per product" required />
          </div>
          <div class="col mt-2 row">
            <label class="col-md-3 mt-2" for="txtqty">Quantity: </label>
            <input type="number" name="txtqty" id="txtqty" class="form-control col" max="10000" min="1" placeholder="Enter product quantity" required />
          </div>  
          <div class="col mt-2 row">
            <label class="col-md-3 mt-2" for="txtkeywords">Keywords: </label>
            <input type="text" name="txtkeywords" id="txtkeywords" class="form-control col" maxlength="50" placeholder="Enter Keywords for search" required />
          </div> 
          <div class="col mt-2 row">
            <label class="col-md-3 mt-2" for="selectbrand">Brand: </label> 
            <select name="selectbrand" id="selectbrand" required class="form-control col">
            <option value="" selected disabled>--- Select Brand ---</option>
              {% for brand in brands %}
              <option value="{{ brand.id }}">{{ brand.BrandName }}</option>
              {% endfor %}
            </select>
          </div> 
          <div class="col mt-2 row">
            <label class="col-md-3 mt-2" for="selectcategory">Category: </label> 
            <select name="selectcategory" id="selectcategory" required class="form-control col">
              <option value="" selected disabled>--- Select Category ---</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.CategoryName }}</option>
              {% endfor %}
            </select>
          </div> 
          <div class="text-center mt-2">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#pp').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
  }

  $("#imgproduct").change(function () {
      readURL(this);
  });
</script>
{% endblock %}
