{% extends './base.html' %} {% block title %}Manage Blogs{% endblock %} {% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Manage Blogs</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Manage Blogs</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <hr />
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid"></div>
    <!-- /.container-fluid -->
    <div class="card"> {% csrf_token %}
        <div class="card-body">
          <table id="myTable" class="table table-hover table-responsive-md">
            <thead class="table-secondary">
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </thead>
            <tbody>
            {% for item in feedbacks %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.Title }}</td>
            <td>{{ item.Desc}}</td>
            <td>{{ item.User}}</td>
            <td>{{ item.Date }}</td>    
            <td>
              <button id="{{ item.id }}" class="btn btn-outline-danger btn-sm fas fa-trash-alt border-0 btn-delete"></button>
            </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!--Delete Modal -->
<div class="modal fade" id="deletemodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Alert</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure want to delete this Feedback?</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="ajaxdelete" data-dismiss="modal">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
<script>
let block;
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  $(document).ready( function () {
      $('#myTable').DataTable();
  } );
          $(".btn-delete").click(function () {
            id = this.id;
            $('#deletemodal').modal('toggle');
            block = this.parentElement.parentElement;
        });
        $("#ajaxdelete").click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'deletefeedback' %}",
                headers:{
                    'X-CSRFToken': csrftoken
                  },
                data: {
                    fid: id 
                },
                success: function (result) {
                    if (result == "done") {
                        Swal.fire(
                          'Success!',
                          'Feedback deleted successfully!',
                          'success'
                        )
                        block.remove();
                    }
                    else {
                      Swal.fire(
                          'Error!',
                          result,
                          'error'
                        )
                    }
                }
            });
        });
  </script>
{% endblock %}
