{% extends './base.html' %}
{% block title %}About{% endblock  %}
{% block body %}
<div class="container mb-4">
  <div class="card">
    <div class="card-body col-md-6 mx-auto">
      <p class="h3">About</p>
      <hr>
      <ul>
        <li ><i class="text-success fas fa-arrow-circle-right"></i> Ecommerce provides an easy way to sell products to a large customer base. </li>
         <li><i class="text-success fas fa-arrow-circle-right"></i> However, there is lot of competition among multiple e-commerce sites.</li>
           <li><i class="text-success fas fa-arrow-circle-right"></i> Ecommerce sites expects to find what they are looking for quickly and easily.</li>
           <li><i class="text-success fas fa-arrow-circle-right"></i> This system deals with the online selling of farming goods and necessary tools. </li>
           <li><i class="text-success fas fa-arrow-circle-right"></i> This system will help in reducing the paperwork and provide an easy way for buying the farming stuff.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock  %}