{% extends './base.html' %}
{% block title %}Change Password{% endblock  %}
{% block body %}
<div class="container mb-4">
    <div class="card">
        <div class="card-body col-md-6 mx-auto">
            <form method="post">{% csrf_token %}
                 <label for="txtpass1">New Password</label>
                <input type="password" id="txtpass1" name="txtpass1" class="form-control mb-2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 placeholder="Enter New password" maxlength="30" >
                 <label for="txtpass2">Re-Enter Password</label>
                <input type="password" id="txtpass2" name="txtpass2" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 placeholder="Re-Enter new password" maxlength="30" >
                 <div class="text-center mt-3">
                     <button class="btn btn-success" type="submit">Update Password</button>
                 </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}